## Importing libraries

In [100]:
import pandas as pd

## Storing the csv as Dataframe

In [101]:
df= pd.read_csv(r"C:\Users\alami\Downloads\patient_records_large.csv")
df.head()

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37.0,F,O,09/18/2023,"September 27, 2023",Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,NaN,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,NaN,FEMALE,O+,11/08/2023,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,NaN,Female,B-,05/17/2023,27-05-2023,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61.0,male,B+,06/01/2023,07-06-2023,Hypertension,NaN,6806,87028216

## Checking for missing values

In [102]:
df.isnull().sum()

Patient_ID          0
Name                0
Age               120
Gender              0
Blood_Type          0
Admission_Date      0
Discharge_Date     12
Diagnosis          23
Medication         54
Bill_Amount         0
Phone_Number        0
dtype: int64

In [103]:
## since 120 Age has null values it cannot be removed

In [104]:
df2= df
df2['Age']=df2['Age'].fillna(df2['Age'].median())
df2['Age']

0      37.0
1      51.5
2      51.5
3      51.5
4      61.0
       ...
195    78.0
196    51.5
197    51.5
198    80.0
199    59.0
Name: Age, Length: 200, dtype: float64

In [105]:
## convert the datatype into integer
df2['Age']=df2['Age'].astype(int)
df2['Age']

0      37
1      51
2      51
3      51
4      61
       ..
195    78
196    51
197    51
198    80
199    59
Name: Age, Length: 200, dtype: int64

In [106]:
df2=df2.dropna(subset=['Discharge_Date'])

In [107]:
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,F,O,09/18/2023,"September 27, 2023",Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,FEMALE,O+,11/08/2023,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,51,Female,B-,05/17/2023,27-05-2023,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,male,B+,06/01/2023,07-06-2023,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,F,AB+,10/23/2023,"October 28, 2023",Bronchitis,Remdesivir,-179,2085286674
195,196,Emily Davis,78,F,O+,01/09/2023,14-01-2023,COVID-19,NaN,7405,35516624837
196,197,Chris Evans,51,M,O-,26-04-2023,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,04/07/2023,17-04-2023,COVID-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,male,AB+,02-10-2023,"October 08, 2023",Asthma,Ibuprofen,-126,18549912174

## Normalising the date columns

In [108]:
## Name column
pd.options.mode.copy_on_write = True
df2['Name']= df2['Name'].str.title()
df2['Name']

0       Emily Davis
1      Olivia White
2        Jane Smith
3         Ava Lewis
4          John Doe
           ...
193     Chris Evans
195     Emily Davis
196     Chris Evans
197    Olivia White
199       Ava Lewis
Name: Name, Length: 188, dtype: object

In [109]:
# Gender
df2['Gender']=df2['Gender'].str.strip()
df2['Gender']= df2['Gender'].str.title()
df2['Gender']=df2['Gender'].replace({'F':'Female','M':'Male'})
df2['Gender']

0      Female
1      Female
2      Female
3      Female
4        Male
        ...
193    Female
195    Female
196      Male
197    Female
199      Male
Name: Gender, Length: 188, dtype: object

In [110]:
#In Various entries instead of O+ or O-, it is only O, we also want to keep that

In [120]:
df2['Blood_Type']=df2['Blood_Type'].str.strip()
blood_groups=['O','O+','O-','A+','A-','B+','B-','AB+','AB-']
df2['Blood_Type']=df2['Blood_Type'].apply(lambda x: x if x in blood_groups else None)
df2['Blood_Type']

0        O
1      AB-
2       O+
3       B-
4       B+
      ...
193    AB+
195     O+
196     O-
197     O-
199    AB+
Name: Blood_Type, Length: 188, dtype: object

In [121]:
# Blood_type
df2.isnull().sum()

Patient_ID         0
Name               0
Age                0
Gender             0
Blood_Type         0
Admission_Date     0
Discharge_Date     0
Diagnosis         23
Medication        51
Bill_Amount        0
Phone_Number       0
dtype: int64

In [122]:
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,"September 27, 2023",Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,27-05-2023,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,07-06-2023,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,"October 28, 2023",Bronchitis,Remdesivir,-179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,14-01-2023,COVID-19,NaN,7405,35516624837
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,17-04-2023,COVID-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,"October 08, 2023",Asthma,Ibuprofen,-126,18549912174

In [124]:
df2['Admission_Date']=pd.to_datetime(df3['Admission_Date'],format='mixed')
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,-179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,COVID-19,NaN,7405,35516624837
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,COVID-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,-126,18549912174

In [126]:
df2['Discharge_Date']=pd.to_datetime(df3['Discharge_Date'],format='mixed')
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,-179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,COVID-19,NaN,7405,35516624837
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,COVID-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,-126,18549912174

In [131]:
df2['Diagnosis']=df2['Diagnosis'].str.strip().str.title()

In [133]:
df2['Medication']=df2['Medication'].str.strip().str.title()
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,-334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,-435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,-179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,Covid-19,NaN,7405,35516624837
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,Covid-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,-126,18549912174

In [134]:
df2['Bill_Amount']=df2['Bill_Amount'].abs()
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,334,68422355
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,87028216
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,Covid-19,NaN,7405,35516624837
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,Covid-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,126,18549912174

In [139]:
def phone_num(number):
    number=str(number).strip()
    if number.isdigit() and len(number)==10:
        return number
    return None
df2['Phone_Number']=df2['Phone_Number'].apply(phone_num)
df2

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,334,None
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,None
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,Covid-19,NaN,7405,None
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,Covid-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,126,None

## Checking For Duplicate rows

In [140]:
df2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
193    False
195    False
196    False
197    False
199    False
Length: 188, dtype: bool

## Checking and removing Duplicate Rows

In [141]:
unique_df=df2.drop_duplicates()
unique_df

,Patient_ID,Name,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Medication,Bill_Amount,Phone_Number
0,1,Emily Davis,37,Female,O,2023-09-18,2023-09-27,Diabetes,Amlodipine,334,None
1,2,Olivia White,51,Female,AB-,2023-10-28,2023-11-02,Flu,Paracetamol,9217,7696217037
2,3,Jane Smith,51,Female,O+,2023-11-08,2023-11-14,Asthma,NaN,435,5558391746
3,4,Ava Lewis,51,Female,B-,2023-05-17,2023-05-27,Asthma,Paracetamol,1364,7358029540
4,5,John Doe,61,Male,B+,2023-06-01,2023-07-06,Hypertension,NaN,6806,None
...,...,...,...,...,...,...,...,...,...,...,...
193,194,Chris Evans,58,Female,AB+,2023-10-23,2023-10-28,Bronchitis,Remdesivir,179,2085286674
195,196,Emily Davis,78,Female,O+,2023-01-09,2023-01-14,Covid-19,NaN,7405,None
196,197,Chris Evans,51,Male,O-,2023-04-26,2023-05-08,Diabetes,Paracetamol,8400,9618182359
197,198,Olivia White,51,Female,O-,2023-04-07,2023-04-17,Covid-19,Ibuprofen,6287,3466384110
199,200,Ava Lewis,59,Male,AB+,2023-02-10,2023-10-08,Asthma,Ibuprofen,126,None

In [ ]:
## Getting All Female patients from the dataset

In [154]:
fem=unique_df[unique_df['Gender']=='Female']
fem.to_csv("Female_patients.csv",index=False)

In [157]:
Names=fem['Name']
Names.to_csv("Names.csv",index=False)

In [ ]:
## getting all Covid Patients

In [160]:
Covid19=unique_df[unique_df['Diagnosis']=='Covid-19']
Covid19.to_csv("Covid_patients.csv", index=False)